<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
<div>
    <form action="/login" method="post"></form>
</div>
  <div>
      <label> 아이디 : <input id="id" type="text"></label>
  </div>
  <div>
      <label> 비밀번호 : <input id="password" type="text"></label>
  </div>
  <div>
      <a href="user.html"><input type="button" value="회원가입"></a>
      <a href="main.html"></a> <input type="button" value="로그인" onclick="function login() {
      }
      login();">
  </div>

</body>
</html>